@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway');
/*
    font-family: 'Raleway', sans-serif;
    font-family: 'Monoton', cursive;
*/
:root {
    font-size: calc(0.3em + 1vw);
}
body {
    background: #000;
}
main {
    padding-left: 30px;
    padding-right: 30px;
}
*, ::before, ::after {
    margin: 0; padding: 0; box-sizing: inherit;
}
.navbar {
    width: 100%; height: 56px;
    z-index: 1;
}
.navbar .links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000;
    position: relative;
    height: 100%;
}
.links li a {
    color: #fff;
    text-decoration: none;
}
.links li a:hover {
    color: #fff;
    text-decoration-line: underline;
}
.links .logo {
    height: 100px;
    width: 100px;
    background: #000;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
}
.links .logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.flex-container1 {
    background: url(img/fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-size: 100% 100%;
    position: relative;
    z-index: -1;
}
.flex-container1 p, .flex-container1 li {
    padding-top: 200px;
    padding-bottom: 50px; 
}
.flex-container1 .tittle {
    font-family: 'Monoton', cursive;
    color: #fff;
    font-size: 100px;
}
.flex-container1 p {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.flex-container1 li {
   list-style: none;
   z-index: 1;
}
.flex-container1 li a {
    color: #fff;
    z-index: 1;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: repeat(2,50%);
    background: #fff;
}
#grid-container div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.f1 h1, .f1 p, .f2 h1, .f2 p, .f3 h1, .f3 p, .f4 h1, .f4 p, .f5 h1, .f5 p, .f6 h1, .f6 p {
    font-family: 'Raleway', sans-serif;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    box-shadow: none;
    line-height: 30px;
    background-color: orange;
    width: 300px;
    list-style: none;
    text-decoration-line: none;
    font-style: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.btn:hover {
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    box-shadow: none;
    line-height: 30px;
    background-color: #fff;
    width: 300px;
    list-style: none;
    text-decoration-line: none;
    font-style: none;
    color: orange;
    font-family: 'Raleway', sans-serif;
}

.grid-container-2 .paralax-background {
    /* Create the parallax scrolling effect */
    /*Codigo de Nexxtor*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-image: url("img/contacus.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.grid-container-2 .form {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-form {
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    box-shadow: none;
    line-height: 30px;
    background-color: orange;
    width: 300px;
    list-style: none;
    text-decoration-line: none;
    font-style: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.btn-form:hover {
    padding: 5px;
    border-radius: 5px;
    font-weight: 100;
    box-shadow: none;
    line-height: 30px;
    background-color: transparent;
    width: 300px;
    list-style: none;
    text-decoration-line: none;
    font-style: none;
    color: orange;
    font-family: 'Raleway', sans-serif;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-grid p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.footer-grid li {
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.footer-grid li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}